node_modules
**/node_modules
dist
**/dist
**/.angular
**/cdk.out
.git
.cursor
coverage
*.tsbuildinfo
.env
.env.*
client/app/android
client/app/ios
client/app/.vscode
**/infrastructure
**/.DS_Store
**/.cursor
